.container {
  display: grid;
}

.header {
  font-size: 1.2rem;
  background-color: $color-dark;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 4.5rem;
  // padding: 0 5rem;

  @include responsiv($md) {
    display: none;
  }

  &__brand {
    text-decoration: none;
    color: $color-grey-light;
    justify-self: center;
    align-self: center;
    padding: 0.5rem 1rem;
    margin-right: 3rem;
    background-image: linear-gradient(
      to right,
      $color-primary,
      $color-primary-dark
    );
    border-radius: 1.5px;
    font-weight: 700;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
    // margin-left: 3rem;
  }
  &__item {
    list-style: none;
  }
  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-grey-light;
      display: block;
      padding: 25px 16px;
      text-transform: uppercase;
      transition: all 0.3s;
      text-align: center;
      &:hover {
        background-color: rgba(0, 0, 0, 0.281);
      }
    }
  }

  &__search-container {
    width: 100%;

    & > i {
      margin-left: -5.5rem;
      z-index: 10;
      color: $color-grey-dark;
      cursor: pointer;
      transition: transform 0.2s;

      &:hover {
        transform: translateY(1px);
      }
    }

    &--box {
      border: none;
      border: 2px solid transparent;
      border-radius: 50px;
      background-color: $color-grey-light-2;
      transition: all 0.3s;
      font-family: inherit;
      font-weight: 600;
      font-size: 1.4rem;
      width: 90%;
      padding: 0.8rem 2rem;
      margin: 0.8rem 1.5rem;
      justify-self: center;
      z-index: 1;

      &::-webkit-input-placeholder {
        color: $color-grey-dark;
      }
      &::placeholder {
        color: $color-grey-dark;
      }
      &:focus {
        border-color: lighten($color-secondary, 40);
        width: 92%;
      }
    }
  }

  &__notifications {
    color: $color-grey-light-2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-column-gap: 3rem;
    margin: 0 5rem;

    & > * {
      cursor: pointer;
      transition: all 0.3s;
    }

    & > *:hover {
      color: darken($color-grey-light-2, 10);
    }

    &--avatar {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      background-image: linear-gradient($color-grey-light, $color-grey-dark);

      &__dropdown {
        position: absolute;
        top: 4rem;
        background-color: $color-dark;
        left: -2.5rem;
        width: 12rem;
        display: none;
        opacity: 0;
        transition: all 0.3s ease-out;

        &.show {
          display: block;
          opacity: 1;
        }

        &-top,
        &-middle {
          margin: 1rem 0;
          border-bottom: 0.5px solid darken($color-grey-dark-2, 50);
        }
      }

      &__list {
        list-style: none;
        padding: 0.5rem 1rem;
        width: 100%;
        line-height: 2;
      }

      &__item {
        padding: 0.5 2rem;

        i {
          margin-right: 1rem;
        }
      }
    }

    &-wrapper {
      position: relative;
      display: inline-block;
    }

    &-dropdown {
      position: absolute;
      top: 3rem;
      left: -12.5rem;
      width: 25rem;
      color: $color-grey-dark;
      background-color: $color-white;
      box-shadow: $box-shadow;
      border-radius: 3px;
      display: none;
      opacity: 0;
      transition: all 0.3s ease-out;

      &.show {
        display: block;
        opacity: 1;
      }

      & > p {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem 0.8rem;
        font-size: 0.8rem;
      }

      &::before {
        content: "";
        position: absolute;
        width: 2rem;
        height: 2rem;
        background-color: $color-white;
        top: -1rem;
        left: 49%;
        transform: rotate(45deg);
        display: block;
      }

      &__content {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        list-style: none;
        overflow-y: scroll;
      }

      &__items {
        border-bottom: 1px solid $color-grey-light-2;
      }

      &__info {
        display: flex;
        padding: $padding;
        img {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
          margin-right: 1rem;
        }

        p {
          font-size: 0.6rem;
        }
      }

      &__avatar {
        width: 2rem;
        height: 2rem;
        color: $color-white;
        background-color: $color-primary-text;
        border-radius: 50%;
        text-align: center;
        margin-right: 1rem;
        & > * {
          margin-top: 20%;
        }
      }

      &__message {
        h3 {
          font-size: 0.8rem;

          span {
            color: lighten($color-grey-dark, 20);
          }
        }

        p {
          font-size: 0.6rem;
          margin-top: 0.3rem;
        }
      }
    }
  }

  &__post {
    & {
      background-image: linear-gradient(
        to right bottom,
        $color-primary 50%,
        $color-primary-dark 100%,
        transparent
      );

      border: none;
      color: $color-white;
      width: 10rem;
      padding: 0.5rem 0.8rem;
      border-radius: 3px;
      text-align: center;
      display: block;
      font-size: 1.1rem;
      cursor: pointer;
      outline: none;
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3.5rem 5rem;

  @include responsiv($md) {
    margin: 1rem auto;
  }
}

.left,
.content,
.right {
  overflow: hidden;
}

.left {
  width: 60%;
  height: auto;
  margin-right: 3rem;
  background-color: $color-white;
  box-shadow: $box-shadow;
  border-radius: 3px;

  @include responsiv($md) {
    display: none;
  }

  &__header {
    padding: $padding;
    background-color: $color-grey-light-2;
    font-size: 1.8rem;
    color: darken($color-grey-dark, 10);
    text-transform: uppercase;
  }

  &__sessions {
    padding: $padding;
    @include flex;

    &-heading {
      font-weight: 400;
      color: darken($color-grey-dark, 30);
      text-transform: uppercase;
      font-size: 1.5rem;
    }

    &-icon {
      align-self: center;
      color: $color-secondary;
      cursor: pointer;
      &:hover {
        color: darken($color-secondary, 10);
      }
    }
  }

  &__users-info {
    padding: $padding;
    @include flex;

    &__profile {
      display: flex;
      align-items: center;
    }

    &__avatar {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      margin-right: 1rem;
    }

    &__data {
      h3 {
        font-weight: 300;
        color: darken($color-grey-dark, 50);
      }
      p {
        color: lighten($color-grey-dark, 20);
      }
    }

    &__cancel {
      font-size: 1.3rem;
      color: lighten($color-grey-dark, 20);
      cursor: pointer;
      transition: color 0.2s;
      &:hover {
        color: darken($color-grey-dark, 10);
      }
    }
  }
  &__users-insight {
    @include flex;
    padding: $padding;
    border-top: 1px solid $color-grey-light-2;

    &__sessions {
      font-weight: 400;
      color: darken($color-grey-dark, 30);
      text-transform: uppercase;
      font-size: 1.5rem;
    }

    &__icon {
      color: $color-secondary;
      cursor: pointer;
      &:hover {
        color: darken($color-secondary, 10);
      }
    }
  }

  &__users-questions {
    padding: $padding;
    border-top: 1px solid $color-grey-light-2;

    &__top {
      @include flex;
    }

    &__heading {
      font-weight: 400;
      color: darken($color-grey-dark, 30);
      text-transform: uppercase;
      font-size: 1.5rem;
    }

    &__icon {
      color: $color-secondary;
      cursor: pointer;
      &:hover {
        color: darken($color-secondary, 10);
      }
    }

    &__faq {
      margin-top: 1.5rem;
      @include flex;
      p {
        color: darken($color-grey-light-2, 60);
      }
    }
    &__cancel {
      font-size: 1.3rem;
      color: lighten($color-grey-dark, 20);
      cursor: pointer;
      transition: color 0.2s;
      margin-left: 6px;
      margin-top: -1.5rem;
      &:hover {
        color: darken($color-grey-dark, 10);
      }
    }
  }

  &__users-summary {
    padding: $padding;

    &__wrapper {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 1rem;
    }

    &__content {
      @include flex;
    }

    &__profile {
      @include flex;
    }

    &__handle {
      h3 {
        font-weight: 300;
        color: darken($color-grey-dark, 50);
      }
      p {
        color: lighten($color-grey-dark, 20);
      }
    }

    &__cancel {
      font-size: 1.3rem;
      color: lighten($color-grey-dark, 20);
      cursor: pointer;
      transition: color 0.2s;
      &:hover {
        color: darken($color-grey-dark, 10);
      }
    }

    &__post {
      width: 100%;
      grid-column: 1 / -1;
      color: darken($color-grey-dark, 10);
    }

    &__avatar {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      margin-right: 1rem;
    }
  }
}

.content {
  margin-right: 3rem;
  // width: 75%;

  .middle__top {
    background-color: $color-white;
    border-radius: 3px;
    box-shadow: $box-shadow;
    margin-bottom: 3rem;

    &-heading {
      @include flex;
      padding: $padding;

      &__info {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__avatar {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-right: 1rem;
      }

      &__handle {
        h1 {
          color: darken($color-dark, 40);
          font-size: 1.4rem;
          font-weight: 300;
        }
        p {
          color: darken($color-grey-dark-2, 10);
        }
      }

      &__icon {
        font-size: 1.6rem;
        color: $color-grey-dark;
        margin-top: -2rem;
      }
    }

    &-content {
      padding: $padding;

      p {
        color: $color-grey-dark;
        font-size: 1.1rem;
      }

      &__footer {
        padding: $padding;
        font-size: 1.6rem;
        color: $color-primary-text;

        & > i {
          cursor: pointer;
        }
      }
    }
  }

  .middle__bottom {
    background-color: $color-white;
    border-radius: 3px;
    box-shadow: $box-shadow;

    &-heading {
      @include flex;
      padding: $padding;

      &__info {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__avatar {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-right: 1rem;
      }

      &__handle {
        h1 {
          color: darken($color-dark, 40);
          font-size: 1.4rem;
          font-weight: 300;

          span {
            display: inline-block;
            background-color: $color-dark;
            color: $color-white;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            text-align: center;
            font-size: 1.2rem;
          }

          small {
            font-size: 1rem;
            color: $color-grey-dark;
          }
        }
        p {
          color: darken($color-grey-dark-2, 10);
        }
      }

      &__icon {
        font-size: 1.6rem;
        color: $color-grey-dark;
        margin-top: -2rem;
      }
    }

    &-content {
      padding: $padding;

      p {
        color: $color-grey-dark;
        font-size: 1.1rem;
      }

      &__footer {
        padding: $padding;
        font-size: 1.6rem;
        color: $color-primary-text;
        display: flex;

        & > * {
          margin-right: 1px;
        }

        span {
          margin-left: 1rem;
          &:not(:first-child) {
            color: lighten($color-dark, 10);
          }
          i {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.right {
  height: auto;
  width: 60%;

  @include responsiv($md) {
    display: none;
  }

  &-top {
    box-shadow: $box-shadow;
    border-radius: 3px;
    background-color: $color-white;
    &__header {
      padding: $padding;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__heading {
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 400;
        color: $color-grey-dark;
      }

      &__refresh {
        cursor: pointer;
        color: $color-secondary;

        &:hover {
          color: darken($color-secondary, 10);
        }
      }
    }

    &__profile {
      padding: $padding;
      display: flex;
      // grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      &:not(:last-child) {
        margin-bottom: 0.1rem;
      }

      & > span {
        font-size: 1.4rem;
        color: $color-grey-dark-2;
        // margin-top: -1rem;
      }

      &-info {
        &__container {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &__avatar {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
          margin-right: 1rem;
        }

        &__handle {
          h1 {
            font-size: 1.1rem;
            color: $color-grey-dark;
          }
          p {
            font-size: 0.8rem;
            color: darken($color-grey-dark-2, 10);
          }
        }
      }
    }
  }

  &__middle {
    box-shadow: $box-shadow;
    border-radius: 3px;
    background-color: $color-white;
    margin-top: 1rem;
    padding: $padding;
    text-align: center;

    h1 {
      font-weight: 300;
      margin-bottom: 2rem;

      span {
        color: $color-secondary;
      }
    }

    p {
      color: $color-grey-dark;
    }

    &-notification {
      width: 0.8rem;
      height: 0.8rem;
      background-color: $color-primary;
      border-radius: 50%;
      display: inline-block;
      margin-right: 0.2rem;
    }
  }

  &__footer {
    padding: $padding;
    margin-top: 3rem;
    border-top: 1px solid $color-grey-light-2;

    &-list {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;

      &__item {
        &:not(:last-child) {
          margin-right: 1rem;
        }
        a {
          text-decoration: none;
          color: $color-grey-dark;
        }
      }
    }
  }
}

.navbar {
  // @include responsiv($sm) {
  //   padding: 0.8rem 2.5rem;
  // }

  @include responsiv-desktop($md) {
    display: none;
  }

  @include responsiv($md) {
    background-color: $color-dark;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: center;

    padding: 0.8rem 2.5rem;

    &__logo {
      img {
        width: 3.5rem;
        height: 3.5rem;
      }
    }

    &__avatar {
      img {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        cursor: pointer;
      }
    }

    &__search {
      width: 100%;
      input {
        border: none;
        background-color: $color-grey-light-2;
        padding: 0.6rem 2rem;
        border-radius: 50px;
        border: 1px solid transparent;
        transition: all 0.2s;
        width: 100%;
        font-family: inherit;

        &::-webkit-input-placeholder {
          color: $color-grey-dark;
        }

        &::placeholder {
          color: $color-grey-dark;
        }

        &:focus {
          padding-right: 2.5rem;
          border-color: $color-secondary-2;
        }
      }

      i {
        margin-left: -3rem;
        font-size: 1.2rem;
        color: $color-grey-dark;
      }
    }
  }
}

.footer {
  @include responsiv-desktop(#{$md + 1}) {
    display: none;
  }

  @include responsiv($md) {
    // position: absolute;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: lighten($color-grey-dark-2, 20);
    padding: 2rem 5rem;
    font-size: 1.4rem;

    &__list {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;

      &-item {
        &:not(:last-child) {
          margin-right: 2rem;
        }
      }

      &-link {
        text-decoration: none;
        color: $color-grey-dark;
        text-transform: uppercase;
        display: block;
        transition: all 0.3s ease-out;
        font-size: 1.6rem;
        &:hover {
          color: darken($color-grey-dark, 10);
          transform: scale(1.5);
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  opacity: 0;

  &.show {
    display: block;
    opacity: 1;
  }

  &-close {
    font-size: 1.6rem;
    position: absolute;
    width: 3rem;
    height: 3rem;
    color: $color-grey-dark;
    background-color: $color-white;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    top: -2.5rem;
    right: -1.5rem;
    text-align: center;
    cursor: pointer;

    & > * {
      margin: 25% auto;
    }
  }

  &-content {
    position: absolute;
    width: 50%;

    padding: 3rem 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    border-radius: 3px;

    &__header {
      margin-bottom: 1rem;
      ul {
        list-style: none;
        display: flex;
        width: 45%;

        li {
          width: 100%;
          text-align: center;
          margin-right: 1rem;
          text-transform: uppercase;
          font-size: 1.3rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
          display: block;

          &:not(:last-child) {
            color: $color-primary-text;
            border-bottom: 2px solid $color-primary-text;
          }

          a {
            display: block;
            padding: 1rem 2.5rem;
            text-decoration: none;
            color: $color-grey-dark;

            &.active {
              color: $color-primary-text;
            }
          }
        }
      }
    }

    form {
      width: 100%;
    }

    textarea {
      width: 100%;
      margin-bottom: 2rem;
      border: none;
      border-bottom: 2px solid $color-grey-dark-2;
      // padding: 0.5rem 0;
      font-family: inherit;
      font-size: 1.3rem;

      &::placeholder {
        color: $color-grey-dark-2;
      }

      &:placeholder-shown + label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
      }
    }

    input {
      width: 100%;
      margin-bottom: 2rem;
      border: none;
      border-bottom: 2px solid $color-grey-dark-2;
      padding: 0.5rem 0;
      font-family: inherit;

      &::-webkit-input-placeholder {
        color: $color-grey-dark-2;
      }

      &::placeholder {
        color: $color-grey-dark-2;
      }

      &:placeholder-shown + label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
      }

      &:valid {
        background-color: $color-white;
      }
    }

    label {
      color: $color-grey-dark-2;
      display: block;
      transition: all 0.2s;
    }
  }
}

.form-group {
  position: relative;
  // margin: 2rem 0;
  padding: 2rem 0;
}

.float-right {
  position: absolute;
  right: 0;
  color: $color-grey-dark-2;
}

.btn-green {
  position: absolute;
  right: 0;
  margin-bottom: 3rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 3px;
  background-color: $color-primary-text;
  color: $color-white;
}

.mb-3 {
  margin-bottom: 3rem;
}
